<html>
    <head>
        <title>21 cars</title>
    </head>
    <body>
        <p>Eric, they stole 21 cars. Can you believe that? What? 21 cars? They could have gave me a car. 21 cars, what are they going to do? How are they going to drive 21 cars? At once. Right. That's crazy. They ought to be ashamed of theyself. I've been telling the E-Fault mania to get your life together. 21 cars? Where are you going to park on them cars there? You can't do it. I don't know what's going on. E-Fault need to get theyself together out here. It's too hot to be driving 21 cars. Yeah. You know, I said, that's too much gas money. How you going to use Autumn Car? That's crazy. I hope they find them 21 cars,</p>
    </body>
</html>